body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    margin: 0px;
}

.header h2{
    font-size: 24px;
    color:#F9FAF8;
    font-weight: 900;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 100;
}

.one {
    display: flex;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    padding: 120px 150px;
    gap: 50px;
}

#main-img {
    width: 500px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color:#F9FAF8;
    margin: 0px;
}

.one-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

button {
    width: 120px;
    background: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 8px;
    border: 0px;
    padding: 8px 14px;
    font-size: 20px;
}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    margin-bottom: 80px;
}

.two-stuff {
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
}

.two-stuff-item {
    width: 150px;
    height: auto;
    color: #1F2937;
    font-size: 18px;
    font-weight: 100;
}

.three {
    background-color: #E5E7EB;
    padding: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#three-text, #three-text-person {
    width: 700px;
    font-size: 36px;
    font-weight:100;
    font-style: italic;
    color: #1F2937;
}

#three-text-person {
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    align-self: flex-end;
    padding-top: 12px;
}

.four {
    display: flex;
    justify-content: center;
    align-content: center;
}

.four-box {
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    margin: 80px;
    gap: 40px;
    width: 800px;
}

.four-box-left {
    width: 500px;
    color:#F9FAF8;
    font-weight: 100;
    font-style: normal;
    font-size: 18px;
}

#call-to-action {
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
}

.four-box-right {
    display: flex;
    align-items: center;
}

#last-button {
    border: 2px solid #F9FAF8;
    border-color: #F9FAF8;
    width: 120px;
    height: 40px;
}